.button {
  width: 100px;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px; 
  cursor: pointer;
  border-radius: 128px 0;
}

.button:hover {
  background-color: #45a049;
}